/* ELIMINAR ALGUNOS COMENTARIOS AL TERMINAR */
/* Orden para la pagina*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px; /* Puedes ajustar  tamaño base según  preferencias */
    color: #333; /* Color de texto base,  ajustarlo según la paleta de colores */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; /* Establece el peso para los títulos */
}

/* Si deseas especificar pesos diferentes para ciertos títulos o textos, puedes hacerlo así: */
h2 {
    font-weight: 600;
}

:root {
    --green-nopal: #4CAF50;
    --pink-fruit: #FF4081;
    --pink-fruit-soft: #FFA1B3;  /* Rosa fruta atenuado */
    --pink-fruit-hardened: #e38697;
    --beige-sand: #FFF9C4;
    --gray-industrial: #9E9E9E;
    --light-gray: #B0BEC5;  /* Gris Claro */
    --beige-darkened: #EFE5B0;  /* Beige oscurecido */
    --green-nopal-lightened: #6ED381;  /* Verde nopal atenuado */
    --beige-toasted: #EEDDAA;  /* Beige ligeramente tostado */
    --green-nopal-desaturated: #8CBF8E;  /* Verde nopal desaturado */
    --beige-greenish: #CCE2B3;  /* Beige con un toque de verde */
    --KyooPal-gradient: linear-gradient(to right, #dd3e54, #6be585);
    --Total-black:#000;
    --piggy-pink: linear-gradient(to right, #ee9ca7, #ffdde1);
    --main-color: var(--green-nopal);
    --text-color: #333;
    --bg-color: var(--beige-sand);
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
}


*::selection {
    background: var(--green-nopal);
    color: var(--beige-sand);
}

/* header {
    display: flex;
    align-items: center;
    padding: 10px 20px; Ajusta según tus necesidades
    background-color: var(--bg-color);
} */

.logo-container {
    position: relative;
    height: 20px; /* o el alto que desees para el navbar */
    width: 50px; /* o el ancho que desees para el logo */
}

/* Estilos para el logo */
#company-logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* Centra el logo verticalmente */
    width: 100px; /* o el ancho que desees para el logo */
    height: auto; /*Agregar Fondo al Logo*/
    z-index: 10; /* Asegura que el logo esté por encima de otros elementos */
    border-radius: 10px 100px /120px;
}

body {
    color: var(--gray-industrial);
    background: var(--beige-sand);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    /* background: linear-gradient(rgba(76, 175, 80, 0.5), rgba(76, 175, 80, 0.5)), url('/resources/fondo_nopal.jpg'); */
    background: linear-gradient(rgba(46, 104, 48, 0.5), rgba(55, 124, 57, 0.5)), url('/resources/fondo_nopal.jpg');
    background-size: cover; /* Esto hará que la imagen cubra toda la sección */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita si es más pequeña que la sección */
    background-position: center center; /* Esto centrará la imagen en la sección */
}

.navbar {
    display: flex;
    

}

.navbar a{
    color: var(--beige-sand);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--pink-fruit-soft);
    transition: .4s;
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

section {
    padding: 70px 17%;
}

/* Seccion Home */

.home {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    background: linear-gradient(rgba(79, 103, 79, 0.78), rgba(53, 67, 53, 0.735)), url('/resources/Fondo2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Home-img img {
    max-width: 5000%;
    width: 500px;
    height: auto;
    border-radius: 61% 39% 76% 24% / 42% 61% 39% 58% ;
}

.home-text h1{
    font-size: 40px;
    color: var(--beige-greenish);
}

.home-text h2{
    font-size: 18px;
    color: #FFF;
    text-align: justify;
    text-justify: inter-word;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--KyooPal-gradient);
    color: #FFF;
    border-radius: 0.5rem;
}

.btn:hover {
    transform: scale(1.2) translateY(8px);
    transition: .4s;
}

/* Seccion .Bioenergetico */

.Bioenergetico {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.Bioenergetico-img img {
    max-width: 100%;
    width: 550px;
    height: auto;
    /* border-radius: 29% 71% 50% 50% / 63% 45% 55% 37% ; */
}

.Bioenergetico-text h2{
    font-size: 35px;
    font-weight: 700;
    color: var(--green-nopal);
}

.Bioenergetico-text span{
    font-size: 25px;
    font-weight: 400;
    color: var(--pink-fruit-hardened);
}

.Bioenergetico-text h3 {
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}

.Bioenergetico-text ul {
    list-style: inside;
    padding-left: 20px;
    font-style: italic;
}

/* Seccion Combustion */

.Combustion {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
    flex-direction: column; /* Organiza los elementos en una columna */
}

.Combustion-text h1, 
.Combustion-text h2, 
.Combustion-text h4, 
.Combustion-text h5, 
.Combustion-text span {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 10px; /* Espacio entre elementos, ajusta según necesidad */
}

.Combustion-text h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--pink-fruit-hardened);
}

.Combustion-img img {
    width: auto;
    height: auto;
}

/* Estilo Ingenieria */
.Ingenieria {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 50px 150px;
    margin: 50px; */
    background: linear-gradient(rgba(101, 102, 101, 0.78), rgba(82, 84, 82, 0.735)), url(/resources/ingenieriabg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Ingenieria-text {
    flex: 1;
    padding-right: 20px;
}

.Ingenieria h1 {
    font-size: 35px;
    font-weight: 700;
    color: var(--green-nopal-lightened);
}

.Ingenieria h3 {
    font-size: 20px;
    font-weight: 400;
    color: var(--beige-toasted);
}

.Ingenieria-Img img {
    width: 500px;
    height: 400px;
    border-radius: 50% 50% 50% / 42% 28% 72% 58%;
    /* margin-right: 120px; */
}

/* Estilo Vida */
.Vida {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 95vh; /* Ocupa el 100% del alto de la ventana */
    flex-direction: column; /* Organiza los elementos en una columna */
    background: linear-gradient(rgba(101, 102, 101, 0.78), rgba(82, 84, 82, 0.735)), url('/resources/MontanaNopal.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Vida-text h1 {
    font-size: 45px;
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 10px; /* Espacio entre elementos, ajusta según necesidad */
    color: var(--green-nopal-desaturated);
}



.Vida-text h3{
    font-size: 20px;
    font-weight: 450;
    text-align: justify;
    text-align-last:center ;
    margin-bottom: 10px;
    color: #FFF;
}

.Rodante {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 90vh; /* Ocupa el 100% del alto de la ventana */
    flex-direction: column; /* Organiza los elementos en una columna */
}

.Rodante h1 {
    font-size: 35px;
    font-weight: 600;
    color: var(--text-color);
}

.Rodante-Img img {
    width: auto;
    height: auto;
}

/* Footer */
.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 10px 0;
}

.col {
    width: 25%;
}

.col h4{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}

.col ul li:not(last-child) {
    margin-bottom: 10px;
}

.col ul li a {
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}

.col ul li a:hover {
    color: var(--text-color);
    transform: translateX(-12px);
}

.col .social {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .social a{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
}

.col .social a::hover{
    transform: scale(1.2);
    color: var(--bg-color);
    background: var(--text-color);
}

/* Estilos videos Principal */

.video-container {
    background: linear-gradient(rgba(79, 103, 79, 0.78), rgba(53, 67, 53, 0.735)), url('/resources/SteamV2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.video-text h1{
    text-align: center;
    font-size: 2rem;
    color: var(--green-nopal);
    margin-bottom: 1rem;
}

.video-text h3 {
    text-align: justify;
    text-align-last: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--Total-black);
}

.video-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
}

.video-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos Pagina Videos */

.videoteca-title {
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.videoteca-title h1{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 800;
    color: var(--green-nopal);
}

.videoteca-title h4 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--Total-black);
}

.videoteca-title a {
    color: var(--green-nopal);
}

.video-grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  
  .video-item {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  
  .video-item iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  

/* Responsivos */

